<h1 class="entry-title">Advertise with Us!</h1>

<h4>General Traffic Information</h4>
<ul>
	<li>30 mln pageviews per month</li>
	<li>100k+ unique visitors per day</li>
	<li>70% US/CA/UK traffic</li>
</ul>
<strong>Gender (%)</strong>
<ul>
	<li>Male: 37%</li>
	<li>Female: 63%</li>
</ul>
<strong>Age (%)</strong>
<ul>
	<li>Under 18: 18%</li>
	<li>18-35: 37%</li>
	<li>36-50: 28%</li>
	<li>50+: 17%</li>
</ul>
<strong>Income Level (%)</strong>
<ul>
	<li>$0-$30k: 21%</li>
	<li>$30k-$60k: 24%</li>
	<li>$60k-$100k: 33%</li>
	<li>$100k+: 22%</li>
</ul>
And here's how you can advertise with us:
<h4>Banners</h4>
<p>Visual symbols are so important when it comes to advertising! Make our readers notice you by placing a banner with your name,logo or product on our website. We do not have banner rotation. The banner will stay on all pages guaranteeing maximum clicks and traffic.</p>

<strong>Available Sizes:</strong>
<ul>
	<li>300x250 Here is the <a href="https://www.buyads.com/website/all-women-stalk">page to make an order</a></li>
</ul>


<p>If you need more information please write to <strong>ads(at)allwomenstalk.com </strong></p>

<p>Thank you very much!</p>